<h1><%= @account.name %></h1>

<div id="mailboxes">Loading...</div>
<div id="mail">Loading...</div>

<script type="text/javascript">
  $(function() {
    $('#mailboxes').load("<%= mailboxes_account_path(@account) %>");
    $('#mail').load("<%= fetch_account_path(@account) %>");
    $('li.mailbox:not(.current)').live('click', function() {
      var self = $(this);
      self.siblings('.current').removeClass('current');
      self.addClass('current');

      $('#mail').html('Loading...');
      $.ajax({
        url: '<%= fetch_account_path(@account) %>',
        data: {mailbox: self.html()},
        success: function(data, status, xhr) {
          $('#mail').html(data);
        },
        dataType: 'html'
      });
    });
  });
</script>
